In [0]:
# Change directory to VSCode workspace root so that relative path loads work correctly. Turn this addition off with the DataSciece.changeDirOnImportExport setting
import os
try:
	os.chdir(os.path.join(os.getcwd(), '..'))
	print(os.getcwd())
except:
	pass

## Turistic Data from Maczek
First massage the data, then try phi-K

In [1]:
import pandas as pd
import xlrd

In [2]:
df = pd.read_excel("./data/Copy of wyniki baza danych 5 dec 2018.xls")
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,3,4,4,4,3,4,5,4,3,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
1,3,4,3,2,4,2,4,2,2,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
2,3,4,3,5,4,2,1,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
3,4,4,3,4,5,4,2,4,3,4,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
4,4,5,5,5,5,3,4,4,4,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN

In [3]:
df = df[df.komfort != 'komfort']
df.dropna(axis=0, how="all", inplace=True)
df.dropna(axis=1, how="all", inplace=True)
df.shape

(410, 135)

In [4]:
df = df.apply(pd.to_numeric, errors='ignore', downcast='integer')
df.dtypes

1a                    float64
1b                    float64
1c                    float64
1d                     object
komfort               float64
1f                    float64
1g                    float64
1h                       int8
zabytki                  int8
1j                    float64
1k                    float64
1l                    float64
1m                       int8
bezpieczeństwo        float64
1o                       int8
1p                    float64
1r                    float64
inne                   object
2a                       int8
2b                     object
2c                    float64
2d                    float64
wiedza                   int8
2f                    float64
2g                    float64
2h                    float64
2i                    float64
inne.1                 object
3a                       int8
3b                       int8
                       ...
8s                    float64
bardziej uważnie      float64
8u                    float64
8w                    float64
8x                    float64
8y                    float64
8z                    float64
najniższa cena        float64
9a                    float64
9b                    float64
9c                    float64
9d                     object
9e                    float64
rozumieją potrzeby    float64
9g                    float64
9h                    float64
9i                    float64
9j                    float64
udzielam opinii       float64
M1                    float64
M2a                    object
M2b                    object
M3                     object
M4a                    object
m4b                    object
M4c                    object
M5a                    object
M5b                    object
M5c                    object
M5d                    object
Length: 135, dtype: object

In [5]:
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4.0,3.0,4.0,4,4.0,3.0,4.0,5,4,3.0,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
1,3.0,4.0,3.0,2,4.0,2.0,4.0,2,2,5.0,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
2,3.0,4.0,3.0,5,4.0,2.0,1.0,5,5,3.0,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
3,4.0,4.0,3.0,4,5.0,4.0,2.0,4,3,4.0,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
4,4.0,5.0,5.0,5,5.0,3.0,4.0,4,4,5.0,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN

In [6]:
df = pd.read_excel("./data/Copy of wyniki baza danych 5 dec 2018.xls")
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,3,4,4,4,3,4,5,4,3,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
1,3,4,3,2,4,2,4,2,2,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
2,3,4,3,5,4,2,1,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
3,4,4,3,4,5,4,2,4,3,4,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
4,4,5,5,5,5,3,4,4,4,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN

In [7]:
df = df[df.komfort != 'komfort']
df = df.dropna(axis=0, how="all")
df = df.dropna(axis=1, how="all")
df.shape

(410, 135)

In [8]:
df.isnull().all(axis=1)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
382    False
383    False
384    False
385    False
386    False
387    False
388    False
389    False
390    False
391    False
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399    False
400    False
401    False
402    False
403    False
404    False
405    False
406    False
407    False
408    False
409    False
410    False
411    False
Length: 410, dtype: bool

In [9]:
df.isnull().all(axis=0)

1a                    False
1b                    False
1c                    False
1d                    False
komfort               False
1f                    False
1g                    False
1h                    False
zabytki               False
1j                    False
1k                    False
1l                    False
1m                    False
bezpieczeństwo        False
1o                    False
1p                    False
1r                    False
inne                  False
2a                    False
2b                    False
2c                    False
2d                    False
wiedza                False
2f                    False
2g                    False
2h                    False
2i                    False
inne.1                False
3a                    False
3b                    False
                      ...
8s                    False
bardziej uważnie      False
8u                    False
8w                    False
8x                    False
8y                    False
8z                    False
najniższa cena        False
9a                    False
9b                    False
9c                    False
9d                    False
9e                    False
rozumieją potrzeby    False
9g                    False
9h                    False
9i                    False
9j                    False
udzielam opinii       False
M1                    False
M2a                   False
M2b                   False
M3                    False
M4a                   False
m4b                   False
M4c                   False
M5a                   False
M5b                   False
M5c                   False
M5d                   False
Length: 135, dtype: bool

In [10]:
df = pd.read_excel("./data/Copy of wyniki baza danych 5 dec 2018.xls", 
header=0, convert_float=True)
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,3,4,4,4,3,4,5,4,3,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
1,3,4,3,2,4,2,4,2,2,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
2,3,4,3,5,4,2,1,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
3,4,4,3,4,5,4,2,4,3,4,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
4,4,5,5,5,5,3,4,4,4,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN

In [11]:
df = pd.read_excel("./data/Copy of wyniki baza danych 5 dec 2018.xls", 
header=0, convert_float=True)
df.head()
df.shape

(412, 135)

In [12]:
df = df[df.komfort != 'komfort']
df = df.dropna(axis=0, how="all")
df = df.dropna(axis=1, how="all")
df.shape

(410, 135)

In [13]:
df.isnull().all(axis=0)

1a                    False
1b                    False
1c                    False
1d                    False
komfort               False
1f                    False
1g                    False
1h                    False
zabytki               False
1j                    False
1k                    False
1l                    False
1m                    False
bezpieczeństwo        False
1o                    False
1p                    False
1r                    False
inne                  False
2a                    False
2b                    False
2c                    False
2d                    False
wiedza                False
2f                    False
2g                    False
2h                    False
2i                    False
inne.1                False
3a                    False
3b                    False
                      ...
8s                    False
bardziej uważnie      False
8u                    False
8w                    False
8x                    False
8y                    False
8z                    False
najniższa cena        False
9a                    False
9b                    False
9c                    False
9d                    False
9e                    False
rozumieją potrzeby    False
9g                    False
9h                    False
9i                    False
9j                    False
udzielam opinii       False
M1                    False
M2a                   False
M2b                   False
M3                    False
M4a                   False
m4b                   False
M4c                   False
M5a                   False
M5b                   False
M5c                   False
M5d                   False
Length: 135, dtype: bool

In [14]:
df.isnull().any(axis=0)

1a                     True
1b                     True
1c                     True
1d                    False
komfort                True
1f                     True
1g                     True
1h                    False
zabytki               False
1j                     True
1k                     True
1l                     True
1m                    False
bezpieczeństwo         True
1o                    False
1p                     True
1r                     True
inne                   True
2a                    False
2b                     True
2c                     True
2d                     True
wiedza                False
2f                     True
2g                     True
2h                     True
2i                     True
inne.1                 True
3a                    False
3b                    False
                      ...
8s                     True
bardziej uważnie       True
8u                     True
8w                     True
8x                     True
8y                     True
8z                     True
najniższa cena         True
9a                     True
9b                     True
9c                     True
9d                     True
9e                     True
rozumieją potrzeby     True
9g                     True
9h                     True
9i                     True
9j                     True
udzielam opinii        True
M1                     True
M2a                    True
M2b                    True
M3                     True
M4a                    True
m4b                    True
M4c                    True
M5a                    True
M5b                    True
M5c                    True
M5d                    True
Length: 135, dtype: bool

In [15]:
df.isnull().any(axis=0)
df.dtypes

1a                    object
1b                    object
1c                    object
1d                    object
komfort               object
1f                    object
1g                    object
1h                    object
zabytki               object
1j                    object
1k                    object
1l                    object
1m                    object
bezpieczeństwo        object
1o                    object
1p                    object
1r                    object
inne                  object
2a                    object
2b                    object
2c                    object
2d                    object
wiedza                object
2f                    object
2g                    object
2h                    object
2i                    object
inne.1                object
3a                    object
3b                    object
                       ...
8s                    object
bardziej uważnie      object
8u                    object
8w                    object
8x                    object
8y                    object
8z                    object
najniższa cena        object
9a                    object
9b                    object
9c                    object
9d                    object
9e                    object
rozumieją potrzeby    object
9g                    object
9h                    object
9i                    object
9j                    object
udzielam opinii       object
M1                    object
M2a                   object
M2b                   object
M3                    object
M4a                   object
m4b                   object
M4c                   object
M5a                   object
M5b                   object
M5c                   object
M5d                   object
Length: 135, dtype: object

In [16]:
df.notnull().any(axis=0)

1a                    True
1b                    True
1c                    True
1d                    True
komfort               True
1f                    True
1g                    True
1h                    True
zabytki               True
1j                    True
1k                    True
1l                    True
1m                    True
bezpieczeństwo        True
1o                    True
1p                    True
1r                    True
inne                  True
2a                    True
2b                    True
2c                    True
2d                    True
wiedza                True
2f                    True
2g                    True
2h                    True
2i                    True
inne.1                True
3a                    True
3b                    True
                      ...
8s                    True
bardziej uważnie      True
8u                    True
8w                    True
8x                    True
8y                    True
8z                    True
najniższa cena        True
9a                    True
9b                    True
9c                    True
9d                    True
9e                    True
rozumieją potrzeby    True
9g                    True
9h                    True
9i                    True
9j                    True
udzielam opinii       True
M1                    True
M2a                   True
M2b                   True
M3                    True
M4a                   True
m4b                   True
M4c                   True
M5a                   True
M5b                   True
M5c                   True
M5d                   True
Length: 135, dtype: bool

In [17]:
df.1a

SyntaxError: invalid syntax (<ipython-input-20-cbaa089620c3>, line 2)

In [18]:
df['1a']

0      4
1      3
2      3
3      4
4      4
5      3
6      3
7      3
8      3
9      5
10     4
11     4
12     4
13     4
14     5
15     5
16     3
17     4
18     4
19     3
20     4
21     3
22     5
23     5
24     4
25     4
26     5
27     5
28     4
29     4
      ..
382    3
383    4
384    2
385    4
386    4
387    4
388    4
389    2
390    4
391    4
392    2
393    4
394    2
395    4
396    4
397    4
398    3
399    5
400    1
401    4
402    3
403    3
404    5
405    4
406    4
407    5
408    3
409    3
410    2
411    5
Name: 1a, Length: 410, dtype: object

In [19]:
df.head(150)

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,3,4,4,4,3,4,5,4,3,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
1,3,4,3,2,4,2,4,2,2,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
2,3,4,3,5,4,2,1,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
3,4,4,3,4,5,4,2,4,3,4,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
4,4,5,5,5,5,3,4,4,4,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN
5,3,5,4,3,5,5,3,4,2,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
6,3,5,3,3,5,3,3,3,4,5,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN
7,3,4,5,4,3,3,4,5,5,4,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
8,3,3,3,3,4,4,4,5,5,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5,3,4,4,4,5,4,4,4,5,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
10,4,5,2,5,5,4,5,4,3,4,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
11,4,2,4,5,5,3,4,5,5,3,...,NaN,NaN,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
12,4,4,5,3,5,4,4,4,4,4,...,NaN,1,ukraina,1,NaN,NaN,NaN,NaN,1,NaN
13,4,4,4,4,4,3,4,4,4,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN
14,5,5,5,5,5,2,1,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
15,5,5,5,5,5,5,5,5,5,3,...,1,NaN,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
16,3,NaN,3,4,5,5,3,5,4,4,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
17,4,4,5,4,5,5,2,4,3,3,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
18,4,4,5,5,4,3,3,4,4,4,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
19,3,5,5,5,4,3,3,4,4,4,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
20,4,4,3,4,4,3,3,3,3,5,...,1,NaN,ukraina,1,NaN,NaN,NaN,NaN,1,NaN
21,3,4,5,5,5,4,NaN,5,3,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
22,5,5,5,4,4,3,3,2,1,5,...,1,NaN,ukraina,1,NaN,NaN,NaN,NaN,1,NaN
23,5,5,3,4,5,4,5,5,5,5,...,NaN,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
24,4,5,5,5,5,5,4,4,4,5,...,1,NaN,ukraina,1,NaN,NaN,NaN,1,NaN,NaN
25,4,4,3,1,4,3,3,2,3,3,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
26,5,5,5,5,5,4,1,2,3,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
27,5,3,2,5,5,3,5,4,3,4,...,1,NaN,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
28,4,5,4,3,5,2,2,5,4,5,...,1,NaN,ukraina,1,NaN,NaN,NaN,1,NaN,NaN
29,4,5,4,3,4,3,3,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,3,4,3,3,4,5,2,3,3,3,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
122,4,3,3,4,5,3,5,4,1,4,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
123,4,NaN,5,5,5,4,NaN,5,4,4,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
124,2,5,3,2,5,3,3,3,1,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
125,3,4,2,1,5,4,4,4,5,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN
126,4,4,2,2,4,3,3,2,3,4,...,1,NaN,polska,NaN,1,NaN,NaN,1,NaN,NaN
127,4,5,3,3,4,4,5,2,2,4,...,NaN,1,ukraina,NaN,NaN,1,NaN,1,NaN,NaN
128,5,3,5,5,5,4,3,5,5,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN
129,3,3,3,4,2,2,3,4,5,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
130,4,4,3,5,5,4,3,4,5,5,...,1,NaN,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
131,4,4,5,5,5,3,3,2,5,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
132,4,3,4,1,5,5,2,3,1,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
133,3,4,4,5,5,5,5,4,1,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
134,4,2,5,4,4,2,5,4,3,4,...,1,NaN,polska,NaN,NaN,1,NaN,NaN,1,NaN
135,5,5,4,5,5,4,4,5,4,5,...,1,NaN,ukraina,1,NaN,NaN,NaN,NaN,1,NaN
136,5,5,5,4,5,5,5,5,4,5,...,NaN,NaN,ukraina,1,NaN,NaN,NaN,NaN,1,NaN
137,4,5,2,4,5,1,5,3,4,4,...,NaN,1,polska,NaN,NaN,1,NaN,1,NaN,NaN
138,3,5,4,5,5,3,5,3,1,5,...,NaN,1,polska,NaN,NaN,1,NaN,1,NaN,NaN
139,4,5,2,5,4,2,3,3,1,5,...,1,NaN,polska,NaN,NaN,1,NaN,NaN,1,NaN
140,4,5,3,5,5,3,3,3,3,5,...,1,NaN,polska,NaN,NaN,1,NaN,NaN,1,NaN
141,4,3,3,5,5,3,3,4,3,5,...,1,NaN,ukraina,1,NaN,NaN,NaN,NaN,1,NaN
142,5,4,4,3,4,2,5,4,3,3,...,NaN,1,ukraina,NaN,NaN,1,NaN,1,NaN,NaN
143,4,4,1,5,4,4,4,5,5,5,...,1,NaN,,NaN,NaN,1,NaN,1,NaN,NaN
144,5,5,5,5,4,5,5,5,5,5,...,NaN,NaN,polska,NaN,1,NaN,NaN,NaN,1,NaN
146,5,5,3,5,5,2,5,3,3,5,...,NaN,1,polska,NaN,NaN,1,NaN,1,NaN,NaN
147,5,4,5,3,5,3,5,4,3,3,...,1,NaN,polska,NaN,NaN,1,NaN,1,NaN,NaN
148,5,4,3,5,3,5,4,4,5,4,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
149,3,5,5,3,5,3,4,3,5,3,...,1,NaN,polska,NaN,NaN,1,NaN,1,NaN,NaN
150,4,5,3,5,5,3,5,4,5,3,...,1,NaN,polska,NaN,NaN,1,NaN,1,NaN,NaN
151,4,4,4,5,5,3,4,4,5,4,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN

In [20]:
df = df[df.komfort != 'komfort']
df = df.dropna(axis='columns', how="all")
df = df.dropna(axis='rows', how="all")
df.shape

(410, 135)

In [21]:
df = df[df.komfort != 'komfort']
df.dropna(axis='columns', how="all", inplace=True)
df.dropna(axis='rows', how="all", inplace=True)
df.shape

(410, 135)

In [22]:
df.columns

Index(['1a', '1b', '1c ', '1d', 'komfort', '1f', '1g', '1h', 'zabytki', '1j',
       ...
       'M2a', 'M2b', 'M3', 'M4a', 'm4b', 'M4c', 'M5a', 'M5b', 'M5c', 'M5d'],
      dtype='object', length=135)

In [23]:
df = df[df.komfort != 'komfort']
df= df.astype(dtype='int32')

ValueError: cannot convert float NaN to integer

In [24]:
df = df[df.komfort != 'komfort']
df= df.fillna(-1)
df= df.astype(int, errors="ignore")
df= df.replace(-1, np.nan)
df.dtypes

NameError: name 'np' is not defined

In [25]:
import pandas as pd
import xlrd
import numpy as np

In [26]:
df = df[df.komfort != 'komfort']
df= df.fillna(-1)
df= df.astype(int, errors="ignore")
df= df.replace(-1, np.nan)
df.dtypes

/home/ant_on_su/miniconda3/envs/Maczek/lib/python3.7/site-packages/pandas/core/ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

In [27]:
#df = df[df.komfort != 'komfort']
df= df.fillna(-1)
df= df.astype(int, errors="ignore")
df= df.replace(-1, np.nan)
df.dtypes

1a                    float64
1b                    float64
1c                    float64
1d                     object
komfort               float64
1f                    float64
1g                    float64
1h                      int64
zabytki                 int64
1j                    float64
1k                    float64
1l                    float64
1m                      int64
bezpieczeństwo        float64
1o                      int64
1p                    float64
1r                    float64
inne                   object
2a                      int64
2b                     object
2c                    float64
2d                    float64
wiedza                  int64
2f                    float64
2g                    float64
2h                    float64
2i                    float64
inne.1                 object
3a                      int64
3b                      int64
                       ...
8s                    float64
bardziej uważnie      float64
8u                    float64
8w                    float64
8x                    float64
8y                    float64
8z                    float64
najniższa cena        float64
9a                    float64
9b                    float64
9c                    float64
9d                     object
9e                    float64
rozumieją potrzeby    float64
9g                    float64
9h                    float64
9i                    float64
9j                    float64
udzielam opinii       float64
M1                    float64
M2a                    object
M2b                    object
M3                     object
M4a                    object
m4b                    object
M4c                    object
M5a                    object
M5b                    object
M5c                    object
M5d                    object
Length: 135, dtype: object

In [28]:

df.dropna(axis='columns', how="all", inplace=True)
df.dropna(axis='rows', how="all", inplace=True)
df.shape

(410, 135)

In [29]:
#df = df[df.komfort != 'komfort']
df= df.fillna(-1)
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4.0,3.0,4.0,4,4.0,3.0,4.0,5,4,3.0,...,-1,1,ukraina,-1,1,-1,-1,-1,1,-1
1,3.0,4.0,3.0,2,4.0,2.0,4.0,2,2,5.0,...,-1,1,ukraina,-1,-1,1,-1,-1,1,-1
2,3.0,4.0,3.0,5,4.0,2.0,1.0,5,5,3.0,...,1,-1,ukraina,-1,-1,1,-1,-1,1,-1
3,4.0,4.0,3.0,4,5.0,4.0,2.0,4,3,4.0,...,-1,1,ukraina,-1,1,-1,-1,1,-1,-1
4,4.0,5.0,5.0,5,5.0,3.0,4.0,4,4,5.0,...,1,-1,ukraina,-1,-1,1,-1,1,-1,-1

In [30]:
df= df.astype(int)
df.dtypes

ValueError: invalid literal for int() with base 10: ' '

In [31]:
df= df.astype(int, errors='ignore')
df.dtypes

1a                     int64
1b                     int64
1c                     int64
1d                    object
komfort                int64
1f                     int64
1g                     int64
1h                     int64
zabytki                int64
1j                     int64
1k                     int64
1l                     int64
1m                     int64
bezpieczeństwo         int64
1o                     int64
1p                     int64
1r                     int64
inne                  object
2a                     int64
2b                    object
2c                     int64
2d                     int64
wiedza                 int64
2f                     int64
2g                     int64
2h                     int64
2i                     int64
inne.1                object
3a                     int64
3b                     int64
                       ...
8s                     int64
bardziej uważnie       int64
8u                     int64
8w                     int64
8x                     int64
8y                     int64
8z                     int64
najniższa cena         int64
9a                     int64
9b                     int64
9c                     int64
9d                    object
9e                     int64
rozumieją potrzeby     int64
9g                     int64
9h                     int64
9i                     int64
9j                     int64
udzielam opinii        int64
M1                     int64
M2a                   object
M2b                   object
M3                    object
M4a                   object
m4b                   object
M4c                   object
M5a                   object
M5b                   object
M5c                   object
M5d                   object
Length: 135, dtype: object

In [32]:
df = pd.read_excel("./data/Copy of wyniki baza danych 5 dec 2018.xls", 
header=0, convert_float=True)
df.head()
df.shape

(412, 135)

In [33]:
df = df[df.komfort != 'komfort']
df = df.str.replace(' ','')
df= df.astype(int, errors='ignore')
df.dtypes

AttributeError: 'DataFrame' object has no attribute 'str'

In [34]:
df = df[df.komfort != 'komfort']
df = df.apply(str.replace(' ',''))
df= df.astype(int, errors='ignore')
df.dtypes

TypeError: replace() takes at least 2 arguments (1 given)

In [35]:
df = df[df.komfort != 'komfort']
df = df.apply(str.replace(' ', ''))
df= df.astype(int, errors='ignore')
df.dtypes

TypeError: replace() takes at least 2 arguments (1 given)

In [36]:
df = df[df.komfort != 'komfort']
df = df.apply(replace(' ', ''))
df= df.astype(int, errors='ignore')
df.dtypes

NameError: name 'replace' is not defined

In [37]:
df = pd.read_excel("./data/Copy of wyniki baza danych 5 dec 2018.xls", 
header=0, convert_float=True)
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,3,4,4,4,3,4,5,4,3,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
1,3,4,3,2,4,2,4,2,2,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
2,3,4,3,5,4,2,1,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
3,4,4,3,4,5,4,2,4,3,4,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
4,4,5,5,5,5,3,4,4,4,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN

In [38]:
df = df[df.komfort != 'komfort']
df.dropna(axis='columns', how="all", inplace=True)
df.dropna(axis='rows', how="all", inplace=True)
df.shape

(410, 135)

In [39]:
df['M3']=df['M3'].map({'ukraina' : 1, 'polska' :0})
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,3,4,4,4,3,4,5,4,3,...,NaN,1,1.0,NaN,1,NaN,NaN,NaN,1,NaN
1,3,4,3,2,4,2,4,2,2,5,...,NaN,1,1.0,NaN,NaN,1,NaN,NaN,1,NaN
2,3,4,3,5,4,2,1,5,5,3,...,1,NaN,1.0,NaN,NaN,1,NaN,NaN,1,NaN
3,4,4,3,4,5,4,2,4,3,4,...,NaN,1,1.0,NaN,1,NaN,NaN,1,NaN,NaN
4,4,5,5,5,5,3,4,4,4,5,...,1,NaN,1.0,NaN,NaN,1,NaN,1,NaN,NaN

In [40]:
df['M3'].describe

<bound method NDFrame.describe of 0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
6      NaN
7      1.0
8      NaN
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     1.0
18     1.0
19     1.0
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
      ...
382    NaN
383    1.0
384    1.0
385    1.0
386    1.0
387    1.0
388    1.0
389    1.0
390    1.0
391    1.0
392    1.0
393    1.0
394    NaN
395    NaN
396    NaN
397    1.0
398    1.0
399    0.0
400    1.0
401    NaN
402    NaN
403    NaN
404    NaN
405    NaN
406    1.0
407    1.0
408    1.0
409    0.0
410    0.0
411    0.0
Name: M3, Length: 410, dtype: float64>

In [41]:
df['M3'].describe()

count    381.000000
mean       0.551181
std        0.498028
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: M3, dtype: float64

In [42]:
df['1a'].describe()

count     408
unique      5
top         4
freq      159
Name: 1a, dtype: int64

In [43]:
df['1a'].describe()
df.dtypes

1a                     object
1b                     object
1c                     object
1d                     object
komfort                object
1f                     object
1g                     object
1h                     object
zabytki                object
1j                     object
1k                     object
1l                     object
1m                     object
bezpieczeństwo         object
1o                     object
1p                     object
1r                     object
inne                   object
2a                     object
2b                     object
2c                     object
2d                     object
wiedza                 object
2f                     object
2g                     object
2h                     object
2i                     object
inne.1                 object
3a                     object
3b                     object
                       ...
8s                     object
bardziej uważnie       object
8u                     object
8w                     object
8x                     object
8y                     object
8z                     object
najniższa cena         object
9a                     object
9b                     object
9c                     object
9d                     object
9e                     object
rozumieją potrzeby     object
9g                     object
9h                     object
9i                     object
9j                     object
udzielam opinii        object
M1                     object
M2a                    object
M2b                    object
M3                    float64
M4a                    object
m4b                    object
M4c                    object
M5a                    object
M5b                    object
M5c                    object
M5d                    object
Length: 135, dtype: object

In [44]:
df=df.astype(int, errors='ignore')
df.dtypes

1a                     object
1b                     object
1c                     object
1d                     object
komfort                object
1f                     object
1g                     object
1h                     object
zabytki                object
1j                     object
1k                     object
1l                     object
1m                     object
bezpieczeństwo         object
1o                     object
1p                     object
1r                     object
inne                   object
2a                     object
2b                     object
2c                     object
2d                     object
wiedza                 object
2f                     object
2g                     object
2h                     object
2i                     object
inne.1                 object
3a                     object
3b                     object
                       ...
8s                     object
bardziej uważnie       object
8u                     object
8w                     object
8x                     object
8y                     object
8z                     object
najniższa cena         object
9a                     object
9b                     object
9c                     object
9d                     object
9e                     object
rozumieją potrzeby     object
9g                     object
9h                     object
9i                     object
9j                     object
udzielam opinii        object
M1                     object
M2a                    object
M2b                    object
M3                    float64
M4a                    object
m4b                    object
M4c                    object
M5a                    object
M5b                    object
M5c                    object
M5d                    object
Length: 135, dtype: object

In [45]:
df=df.apply(pd.to_numeric, errors='ignore')
df.dtypes

1a                    float64
1b                    float64
1c                    float64
1d                     object
komfort               float64
1f                    float64
1g                    float64
1h                      int64
zabytki                 int64
1j                    float64
1k                    float64
1l                    float64
1m                      int64
bezpieczeństwo        float64
1o                      int64
1p                    float64
1r                    float64
inne                   object
2a                      int64
2b                     object
2c                    float64
2d                    float64
wiedza                  int64
2f                    float64
2g                    float64
2h                    float64
2i                    float64
inne.1                 object
3a                      int64
3b                      int64
                       ...
8s                    float64
bardziej uważnie      float64
8u                    float64
8w                    float64
8x                    float64
8y                    float64
8z                    float64
najniższa cena        float64
9a                    float64
9b                    float64
9c                    float64
9d                     object
9e                    float64
rozumieją potrzeby    float64
9g                    float64
9h                    float64
9i                    float64
9j                    float64
udzielam opinii       float64
M1                    float64
M2a                    object
M2b                    object
M3                    float64
M4a                    object
m4b                    object
M4c                    object
M5a                    object
M5b                    object
M5c                    object
M5d                    object
Length: 135, dtype: object

In [46]:
df=df.apply(str.replace(' ', ''))

TypeError: replace() takes at least 2 arguments (1 given)

In [47]:
df.select_dtypes(include='object') =df.select_dtypes(include='object').apply(str.replace(' ', ''))

SyntaxError: can't assign to function call (<ipython-input-50-c22768d7bd67>, line 2)

In [48]:
df.select_dtypes(include='object')

,1d,inne,2b,inne.1,inne.2,inne.3,inne.4,inne.5,inne.6,inne.7,...,9d,M2a,M2b,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,NaN,1,NaN,1,NaN,NaN,NaN,1,NaN
1,2,NaN,4,NaN,NaN,1,NaN,NaN,NaN,NaN,...,3,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN
2,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,NaN,1,NaN,1,NaN,NaN,1,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
5,3,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
6,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
7,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
8,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,1,NaN,1,NaN,NaN,1,NaN,NaN
10,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
11,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN
12,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,NaN,1,1,NaN,NaN,NaN,NaN,1,NaN
13,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
14,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
15,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN
16,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
17,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN
18,5,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN
19,5,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN
20,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,1,NaN,NaN,NaN,NaN,1,NaN
21,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
22,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,1,NaN,NaN,NaN,NaN,1,NaN
23,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN
24,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,1,NaN,NaN,NaN,1,NaN,NaN
25,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,NaN,1,NaN,1,NaN,NaN,NaN,1,NaN
26,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
27,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,1,NaN,NaN,1,NaN,NaN
28,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,1,NaN,1,NaN,NaN,NaN,1,NaN,NaN
29,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,5,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN
383,5,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN,NaN
384,4,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN
385,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
386,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
387,5,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,1,NaN,NaN,NaN,1,NaN,NaN
388,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
389,5,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,1,NaN,NaN,1,NaN,NaN
390,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN
391,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN
392,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN
393,5,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN
394,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
395,3,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
396,4,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
397,5,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
398,5,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
399,5,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
400,2,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN
401,4,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,4,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,5,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,3,NaN,3,internet,NaN,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,1,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,,...,3,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN
407,5,NaN,4,NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
408,1,NaN,4,,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
409,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,NaN,1,NaN,NaN,NaN,1,NaN,NaN
410,5,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN
411,4,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,,...,3,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN

In [49]:
df = pd.read_excel("./data/Copy of wyniki baza danych 5 dec 2018.xls", 
header=0, convert_float=True)
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,3,4,4,4,3,4,5,4,3,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
1,3,4,3,2,4,2,4,2,2,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
2,3,4,3,5,4,2,1,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
3,4,4,3,4,5,4,2,4,3,4,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
4,4,5,5,5,5,3,4,4,4,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN

In [50]:
df = df.apply(str.strip())

TypeError: descriptor 'strip' of 'str' object needs an argument

In [51]:
df = df.str.strip()

AttributeError: 'DataFrame' object has no attribute 'str'

In [52]:
df = pd.read_excel("./data/Copy of wyniki baza danych 5 dec 2018.xls", 
header=0, convert_float=True)
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,3,4,4,4,3,4,5,4,3,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
1,3,4,3,2,4,2,4,2,2,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
2,3,4,3,5,4,2,1,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
3,4,4,3,4,5,4,2,4,3,4,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
4,4,5,5,5,5,3,4,4,4,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN

In [53]:
df = df.applymap(lambda x: x.strip() if type(x) is str else x)

In [54]:
df = df[df.komfort != 'komfort']
df.dropna(axis='columns', how="all", inplace=True)
df.dropna(axis='rows', how="all", inplace=True)
df.shape

(410, 135)

In [55]:
df=df.apply(pd.to_numeric, errors='ignore')
df.dtypes

1a                    float64
1b                    float64
1c                    float64
1d                    float64
komfort               float64
1f                    float64
1g                    float64
1h                      int64
zabytki                 int64
1j                    float64
1k                    float64
1l                    float64
1m                      int64
bezpieczeństwo        float64
1o                      int64
1p                    float64
1r                    float64
inne                   object
2a                      int64
2b                     object
2c                    float64
2d                    float64
wiedza                  int64
2f                    float64
2g                    float64
2h                    float64
2i                    float64
inne.1                 object
3a                      int64
3b                      int64
                       ...
8s                    float64
bardziej uważnie      float64
8u                    float64
8w                    float64
8x                    float64
8y                    float64
8z                    float64
najniższa cena        float64
9a                    float64
9b                    float64
9c                    float64
9d                    float64
9e                    float64
rozumieją potrzeby    float64
9g                    float64
9h                    float64
9i                    float64
9j                    float64
udzielam opinii       float64
M1                    float64
M2a                   float64
M2b                   float64
M3                     object
M4a                   float64
m4b                   float64
M4c                   float64
M5a                   float64
M5b                   float64
M5c                   float64
M5d                   float64
Length: 135, dtype: object

In [56]:
df.tail(100)

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
312,3.0,3.0,3.0,4.0,3.0,2.0,3.0,4,4,3.0,...,NaN,1.0,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
313,5.0,3.0,3.0,3.0,4.0,3.0,3.0,4,4,3.0,...,NaN,1.0,ukraina,NaN,1.0,NaN,NaN,1.0,NaN,NaN
314,4.0,3.0,5.0,4.0,5.0,3.0,2.0,3,3,3.0,...,NaN,1.0,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
315,4.0,4.0,4.0,5.0,3.0,2.0,3.0,4,4,3.0,...,NaN,1.0,polska,NaN,1.0,NaN,NaN,NaN,1.0,NaN
316,3.0,4.0,4.0,5.0,5.0,2.0,4.0,4,3,5.0,...,1.0,NaN,polska,NaN,1.0,NaN,NaN,NaN,1.0,NaN
317,3.0,4.0,5.0,4.0,5.0,3.0,4.0,4,5,5.0,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
318,4.0,4.0,5.0,5.0,5.0,2.0,5.0,2,3,5.0,...,NaN,1.0,polska,NaN,1.0,NaN,NaN,1.0,NaN,NaN
319,4.0,4.0,4.0,4.0,4.0,3.0,3.0,5,3,4.0,...,NaN,1.0,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
320,5.0,3.0,3.0,5.0,5.0,3.0,5.0,5,5,4.0,...,1.0,NaN,polska,NaN,NaN,1.0,NaN,NaN,1.0,NaN
321,4.0,2.0,4.0,5.0,4.0,1.0,3.0,5,2,4.0,...,1.0,NaN,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
322,3.0,4.0,5.0,5.0,5.0,5.0,5.0,5,4,4.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,NaN,1.0,NaN
323,3.0,4.0,2.0,5.0,5.0,4.0,2.0,2,2,4.0,...,NaN,1.0,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
324,4.0,3.0,4.0,4.0,5.0,3.0,3.0,5,5,5.0,...,1.0,NaN,białoruś,NaN,NaN,1.0,NaN,1.0,NaN,NaN
325,4.0,3.0,4.0,3.0,4.0,1.0,5.0,3,3,4.0,...,NaN,1.0,polska,NaN,1.0,NaN,NaN,NaN,1.0,NaN
326,4.0,3.0,3.0,5.0,3.0,2.0,2.0,1,1,3.0,...,NaN,1.0,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
327,4.0,3.0,3.0,5.0,4.0,3.0,3.0,4,4,2.0,...,NaN,1.0,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
328,5.0,3.0,4.0,5.0,2.0,4.0,3.0,5,4,3.0,...,NaN,1.0,polska,NaN,1.0,NaN,NaN,NaN,1.0,NaN
329,4.0,5.0,5.0,5.0,3.0,3.0,4.0,3,4,3.0,...,1.0,NaN,polska,NaN,NaN,1.0,NaN,NaN,1.0,NaN
330,5.0,4.0,3.0,3.0,5.0,2.0,3.0,3,4,5.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
331,5.0,3.0,3.0,4.0,5.0,1.0,2.0,5,3,5.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,NaN,1.0,NaN
332,4.0,5.0,4.0,5.0,3.0,2.0,2.0,3,2,4.0,...,NaN,1.0,polska,NaN,NaN,1.0,NaN,NaN,1.0,NaN
333,5.0,4.0,5.0,5.0,3.0,2.0,2.0,4,3,3.0,...,1.0,NaN,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
334,4.0,3.0,3.0,2.0,5.0,1.0,5.0,4,4,3.0,...,NaN,1.0,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
335,5.0,5.0,3.0,4.0,5.0,1.0,5.0,5,5,3.0,...,NaN,1.0,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
336,4.0,4.0,3.0,5.0,5.0,2.0,4.0,5,5,4.0,...,1.0,NaN,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
337,3.0,4.0,4.0,5.0,4.0,3.0,3.0,3,1,5.0,...,1.0,NaN,polska,NaN,1.0,NaN,NaN,NaN,1.0,NaN
338,3.0,5.0,5.0,5.0,5.0,2.0,4.0,1,1,4.0,...,NaN,1.0,polska,NaN,NaN,1.0,NaN,NaN,1.0,NaN
339,5.0,4.0,5.0,4.0,4.0,4.0,5.0,5,2,5.0,...,1.0,NaN,polska,NaN,NaN,1.0,NaN,NaN,1.0,NaN
340,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5,5,5.0,...,1.0,NaN,polska,NaN,1.0,NaN,NaN,1.0,NaN,NaN
341,3.0,4.0,3.0,4.0,5.0,2.0,3.0,4,2,5.0,...,NaN,1.0,polska,NaN,1.0,NaN,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,3.0,4.0,4.0,5.0,5.0,3.0,3.0,3,3,4.0,...,1.0,NaN,białoruś,NaN,NaN,1.0,NaN,NaN,1.0,NaN
383,4.0,3.0,4.0,5.0,5.0,4.0,5.0,3,2,5.0,...,1.0,NaN,ukraina,NaN,1.0,NaN,NaN,1.0,NaN,NaN
384,2.0,4.0,4.0,4.0,4.0,2.0,5.0,4,5,2.0,...,NaN,1.0,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
385,4.0,5.0,5.0,5.0,5.0,5.0,5.0,4,4,3.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
386,4.0,5.0,4.0,5.0,5.0,3.0,3.0,5,4,4.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
387,4.0,5.0,4.0,5.0,5.0,3.0,3.0,3,3,5.0,...,1.0,NaN,ukraina,1.0,NaN,NaN,NaN,1.0,NaN,NaN
388,4.0,3.0,3.0,5.0,5.0,2.0,3.0,5,4,5.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
389,2.0,5.0,3.0,5.0,5.0,3.0,4.0,4,4,5.0,...,1.0,NaN,ukraina,NaN,1.0,NaN,NaN,1.0,NaN,NaN
390,4.0,5.0,5.0,5.0,4.0,3.0,2.0,2,4,5.0,...,NaN,1.0,ukraina,NaN,NaN,1.0,NaN,NaN,1.0,NaN
391,4.0,5.0,4.0,5.0,5.0,5.0,5.0,5,4,5.0,...,NaN,1.0,ukraina,NaN,NaN,1.0,NaN,NaN,1.0,NaN
392,2.0,4.0,3.0,5.0,5.0,5.0,1.0,4,3,3.0,...,1.0,NaN,ukraina,NaN,1.0,NaN,NaN,NaN,1.0,NaN
393,4.0,5.0,4.0,5.0,5.0,5.0,5.0,3,1,4.0,...,NaN,1.0,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
394,2.0,5.0,2.0,5.0,5.0,2.0,3.0,4,3,5.0,...,1.0,NaN,białoruś,NaN,NaN,1.0,NaN,1.0,NaN,NaN
395,4.0,3.0,5.0,3.0,5.0,3.0,2.0,1,1,5.0,...,1.0,NaN,białoruś,NaN,NaN,1.0,NaN,1.0,NaN,NaN
396,4.0,4.0,5.0,4.0,5.0,3.0,2.0,4,4,5.0,...,1.0,NaN,białoruś,NaN,NaN,1.0,NaN,1.0,NaN,NaN
397,4.0,5.0,4.0,5.0,4.0,4.0,3.0,5,3,3.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
398,3.0,3.0,4.0,5.0,5.0,4.0,4.0,3,3,4.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
399,5.0,5.0,4.0,5.0,4.0,5.0,3.0,3,3,4.0,...,1.0,NaN,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
400,1.0,4.0,5.0,2.0,3.0,3.0,4.0,2,1,3.0,...,NaN,1.0,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
401,4.0,3.0,4.0,4.0,4.0,4.0,2.0,2,4,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,3.0,3.0,4.0,5.0,3.0,2.0,4.0,4,4,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,3.0,5.0,5.0,4.0,5.0,5.0,1.0,5,5,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,5.0,4.0,NaN,5.0,5.0,3.0,1.0,5,4,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,4.0,3.0,5.0,3.0,4.0,3.0,4.0,4,3,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,4.0,2.0,3.0,1.0,5.0,3.0,5.0,2,3,3.0,...,NaN,1.0,ukraina,NaN,NaN,1.0,NaN,NaN,1.0,NaN
407,5.0,NaN,5.0,5.0,5.0,4.0,NaN,3,3,5.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
408,3.0,4.0,3.0,1.0,5.0,3.0,4.0,5,4,5.0,...,1.0,NaN,ukraina,NaN,NaN,1.0,NaN,1.0,NaN,NaN
409,3.0,5.0,2.0,5.0,5.0,2.0,3.0,3,3,5.0,...,1.0,NaN,polska,1.0,NaN,NaN,NaN,1.0,NaN,NaN
410,2.0,5.0,3.0,5.0,3.0,4.0,5.0,3,1,5.0,...,1.0,NaN,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN
411,5.0,5.0,4.0,4.0,4.0,3.0,3.0,4,5,4.0,...,NaN,1.0,polska,NaN,NaN,1.0,NaN,1.0,NaN,NaN

In [57]:
df.tail(100, verbose=True)

TypeError: tail() got an unexpected keyword argument 'verbose'

In [58]:
df['M3'][350:370]

352     polska
353    ukraina
354    ukraina
355     polska
356    ukraina
357    ukraina
358    ukraina
359    ukraina
360    ukraina
361    ukraina
362    ukraina
363     polska
364    ukraina
365    ukraina
366    ukraina
367    ukraina
368    ukraina
369    ukraina
370    ukraina
371        NaN
Name: M3, dtype: object

In [59]:
df['M5d'][350:370]

352   NaN
353   NaN
354   NaN
355   NaN
356   NaN
357   NaN
358   NaN
359   NaN
360   NaN
361   NaN
362   NaN
363   NaN
364   NaN
365   NaN
366   NaN
367   NaN
368   NaN
369   NaN
370   NaN
371   NaN
Name: M5d, dtype: float64

In [60]:
df = pd.read_excel("./data/Copy of wyniki baza danych 5 dec 2018.xls", 
header=0, convert_float=True)
df.head()

,1a,1b,1c,1d,komfort,1f,1g,1h,zabytki,1j,...,M2a,M2b,M3,M4a,m4b,M4c,M5a,M5b,M5c,M5d
0,4,3,4,4,4,3,4,5,4,3,...,NaN,1,ukraina,NaN,1,NaN,NaN,NaN,1,NaN
1,3,4,3,2,4,2,4,2,2,5,...,NaN,1,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
2,3,4,3,5,4,2,1,5,5,3,...,1,NaN,ukraina,NaN,NaN,1,NaN,NaN,1,NaN
3,4,4,3,4,5,4,2,4,3,4,...,NaN,1,ukraina,NaN,1,NaN,NaN,1,NaN,NaN
4,4,5,5,5,5,3,4,4,4,5,...,1,NaN,ukraina,NaN,NaN,1,NaN,1,NaN,NaN

In [61]:
df = df[df.komfort != 'komfort']
df = df.applymap(lambda x: x.strip() if type(x) is str else x)
df=df.apply(pd.to_numeric, errors='ignore')
df.dropna(axis='columns', how="all", inplace=True)
df.dropna(axis='rows', how="all", inplace=True)
df.shape

(410, 130)

In [62]:
df.dtypes

1a                    float64
1b                    float64
1c                    float64
1d                    float64
komfort               float64
1f                    float64
1g                    float64
1h                      int64
zabytki                 int64
1j                    float64
1k                    float64
1l                    float64
1m                      int64
bezpieczeństwo        float64
1o                      int64
1p                    float64
1r                    float64
inne                   object
2a                      int64
2b                     object
2c                    float64
2d                    float64
wiedza                  int64
2f                    float64
2g                    float64
2h                    float64
2i                    float64
inne.1                 object
3a                      int64
3b                      int64
                       ...
8r                    float64
8s                    float64
bardziej uważnie      float64
8u                    float64
8w                    float64
8x                    float64
8y                    float64
8z                    float64
najniższa cena        float64
9a                    float64
9b                    float64
9c                    float64
9d                    float64
9e                    float64
rozumieją potrzeby    float64
9g                    float64
9h                    float64
9i                    float64
9j                    float64
udzielam opinii       float64
M1                    float64
M2a                   float64
M2b                   float64
M3                     object
M4a                   float64
m4b                   float64
M4c                   float64
M5a                   float64
M5b                   float64
M5c                   float64
Length: 130, dtype: object